<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rapidapi</key>
	<string>spoonacular-recipe-food-nutrition-v1.p.rapidapi.com</string>
	<key>x-rapidapi-key</key>
	<string>01ec113bdfmsh2c9f3b679e8f8b6p1deba1jsnf6679be23ff3</string>
</dict>
</plist>
